
**/target
**/logs
*.md
!README.md
*.yml
.git
*.env

**/node_modules/
**/dist
npm-debug.log
.coverage
.coverage.*
.env
.aws

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis

