
/facilities/mq/*
!/facilities/mq/.gitkeep

/facilities/pg/*
!/facilities/pg/.gitkeep

/server/config/*
!/server/config/conn.template.yml
!/server/config/init.template.yml
!/server/config/task.template.json

prod.env
