
/facilities/mq/*
!/facilities/mq/.gitkeep

/facilities/pg/*
!/facilities/pg/.gitkeep

/server/config/*
!/server/config/conn.template.yml
!/server/config/init.template.yml
!/server/config/task.template.json
!/server/config/secret.template.env

!/server/config/run.sh

prod.env
